
h1{
    font-size: 2.5rem;
    color: var(--bright-color);

    font-weight: 600;
    margin-top: 5.6rem;
}
.text-intruduction{
    margin-top: 1.25rem;

}
li{
    
}
.slider-container{
    overflow: hidden;
    margin-top: 20px;
    user-select: none;
    cursor: grab;
}
.slider-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.2rem;
    height: 9rem;
    background-color: #B3B1AD;
    flex-shrink: 0;
    border-radius: 15px;
    
}
.slider-track{
    display: flex; 
    gap: 1.25rem;
    width: max-content; 
}
.slider-button{
    width: 6rem;
    height: 2.75rem;
    border-radius: 0.75rem;
    border: none;
    background-color: #FEFAE0;
    cursor: pointer;
    }
    .slider-button-left{
        width: 6rem;
        height: 2.75rem;
        border-radius: 0.75rem;
        border: none;
        background-color: #FEFAE0;
        cursor: pointer;
        opacity: 0.5;
        
    }
.slider-button-container{
        display: flex; 
        margin-top: 10px;
        justify-content: end;
        margin-right: 10px;
        gap: 10px;
        user-select: none
    }
    .slider-content{
        font-weight: bold;
        font-size: 1.25rem;
        color: var(--background);
    }
   